.main {
    background-color: #e5e5fa;
    color:#100e70;
    padding: 30px;
}
h1 {
    background-color: #100e70;
    color:#e5e5fa;
    display:block;
    padding:10px;
    text-align: center;
}
h2 {
    font-weight:bold;
}
h4 {
    text-align:right;
    font-style: italic;
}
p {
    font-size: 14pt;
}
a, a:hover {
    color:rgb(196, 54, 36);
    text-decoration: none;
    font-weight: bold;
    font-size:14pt;
}
button {
    background-color: #a1a1df;
    border: 1px solid #aaaacf;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}
.center {
    display:block;
    margin: auto;
    text-align: center;
}
.caption {
    font-size:12pt;
    background-color: rgb(0,0,0,0.1);
    text-align: center;
}
