.main {
    background-color: #e5e5fa;
    color:#100e70;
    padding: 30px;
}
h1 {
    background-color: #100e70;
    color:#e5e5fa;
    display:block;
    padding:10px;
    text-align: center;
}
h2 {
    font-weight:bold;
}
h4 {
    text-align:right;
    font-style: italic;
}
p {
    font-size: 14pt;
}
a, a:hover {
    color:rgb(196, 54, 36);
    text-decoration: none;
    font-weight: bold;
    font-size:14pt;
}
.center {
    display:block;
    margin: auto;
    text-align: center;
}
.caption {
    font-size:12pt;
    background-color: rgb(0,0,0,0.1);
    text-align: center;
}